body {
  background-color: #323232;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

#mode-selector {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  margin: 50px 0;
  font-size: 80px;
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 70%;
  margin-top: 20px;
  position: relative;
}

td {
  width: 33.33%;
  height: 0;
  padding-bottom: 33.33%;
  text-align: center;
  vertical-align: middle;
  font-size: 64px;
  border: 5px solid white;
  position: relative;
  cursor: pointer;
}

td.filled {
  cursor: default;
}

td.filled div {
  background-color: #323232;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

td:first-child,
td:nth-child(2) {
  border-left: none;
}

td:last-child,
td:nth-child(3) {
  border-right: none;
}

tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

td div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);
}

.winning-line {
  position: absolute;
  height: 8px;
  background-color: white;
  transform-origin: 0 50%;
  z-index: 1;
}

#player-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#player-indicators div {
  margin: 0 20px;
}

#circle-indicator,
#cross-indicator {
  transition: opacity 0.2s;
}

.reduced-opacity {
  opacity: 0.3;
}

.indicator svg {
  width: 130px;
  height: 130px;
}

.disabled {
  pointer-events: none;
}

.glow svg {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 10px rgba(255, 255, 198, 0.1));
  }
  to {
    filter: drop-shadow(0 0 20px rgba(255, 255, 190, 0.5));
  }
}

button {
  margin-top: 50px;
  color: rgb(255, 255, 255);
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid #ffffff;
  background: #323232;
  user-select: none;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-family: inherit;
}

button:before,
button:after {
  content: "";
  position: absolute;
  background: #323232;
  transition: all 0.2s linear;
}

button:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

button:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

button:hover {
  cursor: crosshair;
}

button:active {
  transform: scale(0.95);
}

button:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

button:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}

button span {
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
}

.bigger-button {
  height: 100px;
  width: 300px;
  margin-bottom: 50px;
}

.bigger-button span {
  font-size: 35px;
}

.bigger-button,
.bigger-button::before,
.bigger-button::after {
  border: solid 1px white !important;
}

#back-button {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 50px;
  z-index: 1000;
}

#back-button::before,
#back-button::after {
  content: normal;
}

#back-button:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#back-button:focus {
  outline: none;
}

@media (max-width: 600px) {
  h1 {
    margin: 10px 0;
    font-size: 36px;
  }

  #mode-selector {
    margin-top: 20%;
  }

  .bigger-button,
  .bigger-button::before,
  .bigger-button::after {
    border: solid 1px white !important;
  }

  #back-button {
    font-size: 35px;
  }

  td {
    font-size: 32px;
    border-width: 3px;
  }

  td svg {
    width: 90px;
    height: 90px;
  }

  .indicator svg {
    width: 75px;
    height: 75px;
  }

  #player-indicators {
    margin: 15px 0;
  }

  table {
    max-width: 85%;
  }

  #content {
    margin: 0;
  }

  .container {
    margin-top: 5px;
  }
}
